*. {
    box-sizing: border-box;
}

body {
    /* font-family: 'Fredericka the Great', cursive; */
    font-size: 8vmin;
    /* background-color: rgb(250, 248, 242);
    color: #343434; */
    background-color: #343434;
    color: rgb(250, 248, 242);
}

.main {
    display: grid;
    grid-template-columns: 2fr 1.3fr 1.3fr 1.3fr 1.5fr;
    grid-template-rows: 3fr 3fr 40% 5% 3fr;
    grid-template-areas: 
        "a1 t t t a5"
        "z z z z z"
        "c1 slot1 slot2 slot3 c5"
        "d1 d2 d3 d4 d5"
        "e1 t2 t2 t2 e5";
    }

#slot1 {
   grid-area: slot1;
   border: 5px solid #802D30;
   border-radius: 10px;
   background-color: rgb(250, 248, 242);
   background-size: cover;

}
#slot2 {
    grid-area: slot2;
    border: 5px solid #802D30;
    border-radius: 10px;
    background-color: rgb(250, 248, 242);
    background-size: cover;
    transform-style: preserve-3d;

}

#slot3 {
    grid-area: slot3;
    border: 5px solid #802D30;
    border-radius: 15px;
    background-color: rgb(250, 248, 242);
    background-size: cover;
}

#title1 {
    grid-area: t;
    justify-self: center;
    justify-content: center;    
    border: 2vh double #802D30;
    font-size: 5vh;
    border-radius: 2vh;
    padding: 5vh 2vh;
}

button {
    grid-area: d3;
    justify-self: flex-end;
    height: 4vh;
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #802D30;
    background: rgb(250, 248, 242);
    border-bottom: solid 5px #802D30;
    border-radius: 10px 10px 0 0;
    transition: .4s;
}

#tokens {
    grid-area: d3;
    justify-self: stretch;
    margin-top: 1vh;
    font-size: 2.5vh;
    padding: 1vh 2vh;
}

#title2 {
    grid-area: t2;
    justify-self: center;
    justify-content: center;    
    border: 2vh double #802D30;
    font-size: 5vh;
    border-radius: 2vh;
    padding: 5vh 3vh;

}